* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  
  color: #fff;
}

.navbar {
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  padding: 12px 30px;
}

.navbar nav a {
  color: #ccc;
  margin: 0 12px;
  text-decoration: none;
  font-size: 14px;
}

.navbar nav a:hover {
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language {
  color: #ccc;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.language:hover {
  color: #fff;
}

.play-btn {
  background: #f2a900;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
    margin: 0 auto;
    width: 1440px;
    height: 797px;
     background-repeat: no-repeat;
     background-position: center;
    background-size: contain;
  background: url("image\ 5.png")
  
}



.content {
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}


.tabs {
  display: flex;
  gap: 82px;
  margin: 0 auto;

}

.tabs button {
    text-align: center;
  padding: 10px 30px;
  border: none;
  font-weight: 700;
 font-size: 40px;
}

 .active {
     text-align: center;
    
    font-weight: 700;
    font-size: 40px;
    color: black;
  background: #f2a900;
}

.tabs button:not(.active) {
  background: #120202;
  color: white;
  border: 1px solid #555;
}

.content h1 {
    width: 922px;
    height: 100px;
    margin: 0 auto;
 width: fit-content;
   color: #FFFFFF;
  font-size: 36px;
background-color: #F1A90054 ;
  padding: 15px 25px;
 
}
.footer {
    margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 12px 30px;
}

.footer img{
  color: #ccc;
  margin-left: 12px;
  text-decoration: none;
  font-size: 18px;
}

.footer a:hover {
  color: #fff;
}